@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto:wght@300&display=swap');

html { 
  background-color: rgba(235, 235, 235, 0.383);
  font-family: 'Coming Soon', cursive;
  font-family: 'Roboto', sans-serif;
}
.card {
  position: absolute;
  transition: transform 0.5s;
  width: 93%;
  z-index: 0;
  height: 80vh;
  box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.102);
  filter: url(#roughpaper);
}

.card.next {
  transform: rotate(3deg);
}

.card.swipe-left {
  transform: translateX(-100%) rotate(-3deg);
}

.card.swipe-right {
  transform: translateX(100%) rotate(3deg);
}

.card-top {
  z-index: 1;
}

.card-description { 
  font-size: 12px;
  color: gray;
  font-style: italic;
}

.card-image {
  border: 0.5px solid gray;
  border-radius: 4px;

}

p.card-text { 
  font-size: 18px;
}

.date {
  text-align: center;
  color: white;
  background-color: gray;
  width: 120px;
  border-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.conversation { 
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  padding-top: 6px;
  background-color: #a4e2f7;
}

.message {
  width: 88%;
  margin: 3px 0;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid gray;
}

.name {
  font-weight: bold;
}

.left {
  background: white;
  align-self: flex-start;
}

.material-symbols-sharp { 
  margin-top: 60px;
  font-size: 40px;
}

.right {
  background: lightgreen;
  align-self: flex-end;
}

.shadow { 
  box-shadow: 10px 15px 10px black;
}

#swipe-img { 
  width: 60px;
}

.card-title { 
  color: rgb(61, 60, 60);
  border-bottom: 2px solid gray;
  padding-bottom: 6px;
}
